# ===== Frontend =====
node_modules/
# Vite 编译输出和本地环境
dist/
dist-ssr/
*.local

# ===== Cache & Logs =====
# 缓存和日志
.eslintcache
.stylelintcache
node_modules/.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== OS =====
# 操作系统临时文件
.DS_Store
Thumbs.db

# ===== Python =====
venv/
__pycache__/
*.log

# ===== Env =====
.env
pixel-perfect-depth/
backend/depth_service/pixel-perfect-depth/*
# 忽略上传和输出目录中的所有内容
backend/depth_service/uploads/*
backend/depth_service/outputs/*

# 但保留 .gitkeep 文件
!backend/depth_service/uploads/.gitkeep
!backend/depth_service/outputs/.gitkeep
__pycache__/
*.pyc

#others
todo.docx